.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 10%;
	right: 25%;
	bottom: 10%;
	left: 25%;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
  border: 1px solid black;
  overflow: scroll;

	background-color: #E5EAEC;
	background-image: url('http://localhost:9292/img/bg-br.png');
	background-size: 329px 248px;
	background-position: bottom right;
	background-repeat: no-repeat;
	height: auto;
	min-height: 90%;
	// padding-bottom: 5em;

	.new-capabilitiy-form {
		input{
			margin: 0;
			padding: 0;
		}
		label{
			margin: 0;
			padding: 0;
		}
		.form-buttons {
			button {
			display: inline-block;
			}
		}
	}

	.capability-listing{
		margin: auto;
		margin-bottom: 2em;
		border: 1px solid black;
		border-radius: 6px;
		width: 85%;
		img {
			height: 30px;
			width:30px;
			float: right;
			margin-top: -2em;
		}
	}
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	background: #fff;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 4px;
	text-align: center;
	top: 2px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: #00d9ff;
}

#jsonPreview {
	text-align: left;
}
