html, body {
  height: 100%;
}
/* sidebar */
.list {
  border: 1px solid black;
  float: center;
  margin: 10px;
  text-align: center;
  width: 90%;
}
.list th:empty {
  border:none;
}
.list th, .list td {
  padding-bottom: 10px;
  padding-top: 10px;
}
.list th {
  border-right: 1px solid grey;
}
.list tr:nth-child(odd) {
  background-color: #ccc;
}
.list th:nth-last-child(1) {
  border-right: 0px;
  border-top: 1px solid black;
  padding-bottom: 0px;
  padding-top: 5px;
}
.sidebar {
  background: linen;
  float: left;
  height: 100%;
  text-align: center;
  width: 250px;
}
.new_project {
  background: linen;
}

input[type=submit] {
  background: #f4f4f4;
  border-radius: 5px;
  border: 1;
  height:25px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 10em;
}

/* project grid */
.project {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#edit_attributes td, #edit_components td {
  border: 1px solid black;
}
#grid {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
}
#grid th, #grid td {
  border: 1px solid black;
  padding: 20px;
}
.attr_comp_list {
  border-style: dashed;
  border-width: 1px;
  margin-left: 40%;
  margin-right: 40%;
  width: 50%;
}
#edit_attributes{
  padding-right: 40px;
}
#edit_attributes, #edit_components {
  border-collapse: collapse;
  display: inline-block;
}
#table_header {
  text-align: center;
}

/* capabilities */
#capability_form {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 40%;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
.caps th {
  padding: 5px;
  text-align: right;
  width: 30%;
}
.caps td {
  border: 1px solid black;
  overflow: scroll;
  width: 70%;
}
.caps {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  table-layout: fixed;
  width: 80%;
}
