html, body {
  height: 100%;
}
/* sidebar */
.list {
  border: 1px solid black;
  float: center;
  margin: 10px;
  text-align: center;
  width: 90%;
}
.list th:empty {
  border:none;
}
.list th, .list td {
  padding-bottom: 10px;
  padding-top: 10px;
}
.list th {
  border-right: 1px solid grey;
}
.list tr:nth-child(odd) {
  background-color: #ccc;
}
.list th:nth-last-child(1) {
  border-right: 0px;
  border-top: 1px solid black;
  padding-bottom: 0px;
  padding-top: 5px;
}
.sidebar {
  background: linen;
  float: left;
  height: 100%;
  text-align: center;
  width: 250px;
}
input[type=submit] {
  border-radius: 5px;
    border: 0;
    width: 80px;
    height:25px;
    font-family: Tahoma;
    background: #f4f4f4;
    margin-top: 10px;
}

/* project grid */
.project {
  text-align: center;
}
#grid {
  border-collapse: collapse;
  float: middle;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
}
#grid th {
  border: 1px solid black;
  padding: 20px;
}
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}
