<div class="sidebar" ng-init="getProjects()">
  <h2>Project list</h2>
  <table class="list">
    <tr ng-repeat="project in projectList">
      <th><a href="" ng-click="openProject(project.id)">{{project.name}} </a></th>
      <td><a href="" ng-click="deleteProject(project.id)">Delete</a></td>
    </tr>
    <th colspan="2"><a href="" ng-click="showform=true" ng-hide="showform">Add</a></th>
    <tr ng-show="showform">
      <form class="new_project" ng-submit="addProject()">
        <td colspan="2">
          New project name: <input ng-model="newProject" type="text"><br>
          <input type="submit" value="Create Project" ng-show="showform" ng-click="showform=false"><br>
          <a href="" ng-click="showform=false" ng-show="showform">Cancel</a>
        </td>
      </form>
    </tr>
  </table>
</div>
