<div ng-if="showCaps" style="background-color:white" id="openModal" class="modalDialog" ng-init="getHistory(project)">
  <a href="#close" title="Close" class="close">X</a>
  <h3>{{currentComponent.name}} + {{currentAttribute.name}}</h3>

  <ul class="capability-listing" ng-repeat="capability in capsInCell">
    <li>{{capability.name}}</li>
    <li>Last Result:  {{capability.last_result}}</li>
    <li>Last Failure:
      <span ng-if="capability.last_failure">{{capability.last_failure*1000 | date:'medium'}}</span>
      <span ng-if="!capability.last_failure">No failures</span>
    </li>

    <li>
      <form ng-if="capability.editing">
        <label for="capabilityName">Name</label>
        <input id="capabilityName" ng-model="capability.name" type="text">
        <label for="capabilityCode">Code</label>
        <input id="capabilityCode" ng-model="capability.code" type="text">
        <label for="capabilityUrl">URL</label>
        <input id="capabilityUrl" ng-model="capability.url" type="text">
        <label for="capabilityOauth">OAuth</label>
        <input id="capabilityOauth" ng-model="capability.oauth" type="text">
        <input type="submit" value="Save Changes" ng-click="updateCapability(capability); toggleEditing(capability)">
      </form>
      <button ng-click="toggleEditing(capability)" ng-if="!capability.editing">Edit Capabilities</button>
      <button ng-click="capability.history=true" ng-if="!capability.editing">Show History</button>
      <button ng-click="toggleEditing(capability)" ng-if="capability.editing">Cancel</button>
      <button ng-click="deleteCapability(capability)">Delete Capability</button>
    </li>
    <li>
      <button ng-click="capability.history=false">Hide History</button>
      <div ng-if="capability.history" ng-repeat="item in history | limitTo:30">
        <p ng-if="capability.id==item.capability_id">
          {{item.time*1000 | date:'medium'}}:
          {{item.result}}
    </li>
  </ul>

  <form class="new-capabilitiy-form">
    <label for="newCapabilityName">Name</label>
    <input id="newCapabilityName" ng-model="newCapability.capabilityName" type="text"></p>
    <label for="newCapabilityCode">Code</label>
    <input id="newCapabilityCode" ng-model="newCapability.capabilityCode" type="text"></p>
    <label for="newCapabilityUrl">URL</label>
    <input id="newCapabilityUrl" ng-model="newCapability.capabilityUrl" type="text"></p>
    <label for="newCapabilityOauth">Oauth</label>
    <input id="newCapabilityOauth" ng-model="newCapability.capabilityOauth" type="text"></p>
    <input type="submit" value="Add Capability" ng-click="addCapability(newCapability, project.id)"><br>
  </form>

</div>
